body{
    background: linear-gradient(#FF8D0A,#E07800, #B86200,#3C5190, #304173, #18203A );
}
.logo{
    width: 50px;
}
.lentes{
    position: absolute;
    margin-top: -25px;
    margin-left: 180px;
}
.offerta{
    margin: 20px;
}
.carte{
    display: flex;
    gap:20px;
}
.card:hover{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.cartine{
    display: flex;
    gap:20px;
}
.sharm{
    height: 165px;
}
.istanbul{
    height: 100px;
}
.accordion{
    margin-top: 30px;
}


